{% extends 'base.html.twig' %}

{% block title %}Hello FooterController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
    p, h4, ul, li { color: rgb(64, 64, 92); } 
</style>

<div class="example-wrapper">
    <h1>Conditions Générales d'Utilisation</h1>

    <h2>Comment utiliser les recettes diffusées sur ce site</h2>
    <p>Toutes les recettes diffusées sur le site peuvent être utilisées dans le cadre des trois hypothèses décrites ci-dessous selon votre statut.
    Dans tous les cas, vous ne pouvez pas les reproduire pour en faire un usage commercial.</p>
    <p>Les recettes diffusées sur le site sont incorporées dans une base de données appartenant à la société Balu!, vous ne pouvez ni reproduire cette base de données, ni extraire des données contenues dans cette base autrement que pour votre usage privé.</p>

    <h4><ul>Vous êtes un particulier :</h4>
    <li>Vous pouvez utiliser toutes les recettes diffusées sur le site pour votre usage privé : repas entre amis ou en famille.</li>
    <li>N'hésitez pas à donner votre avis sur les recettes et sur le site dans les rubriques " Votre Avis " et " Livre d'Or ".</li>
    <li>N'hésitez pas à utiliser les rubriques " Forum " et " Appel aux gourmands " pour partager votre passion.</li>
    <li>Inscrivez-vous sur la lettre hebdomadaire pour recevoir les dernières nouveautés.</li></p>

    <p><ul>Si vous souhaitez diffuser une recette à un proche, vous avez deux possibilités :</ul>
    <li>Sous pouvez passer par la technologie du site balu.org, c'est-à-dire, cliquer sur le bouton " envoyer à un ami " figurant en-dessous de la recette choisie ;</li>
    <li>Sous pouvez inscrire la personne de votre choix sur la lettre hebdomadaire. Ne diffusez pas la lettre hebdomadaire sur un intranet, 
    sur un newsgroup ou toute autre listes de discussion mais inscrivez vos amis et collègues de travail sur la lettre hebdomadaire.</li></p>
    
    <h4>Vous êtes un professionnel : cuisinier, restaurateur</h4>
    <p><ul>Vous pouvez utiliser les recettes sans droit de publier la recette elle-même sous 2 conditions :</ul>
    <li>Retour d'expérience : dans les commentaires pouvant être associés à chaque recette, ou dans la rubrique " Livre d'Or " ;</li>
    <li>Visibilité de la source de la recette sur votre menu : " Cette recette vient du site www.balu.org ".</li></p>
    
    <h4>Vous êtes une Ecole de formation de cuisine, un élève cuisinier ou une association culinaire</h4>
    <p>Vous n'avez pas l'autorisation d'utiliser les recettes sauf accord préalable de balu. Contactez-nous pour connaître les possibilités de partenariats : christophe@balu.org.</p>

    <p>Vous avez des recettes, faites-les partager. Allez dans la rubrique " Vos spécialités " et remplissez le formulaire.</p>
    En remplissant le formulaire vous garantissez que :

    <p>A votre connaissance, cette recette ne vient pas d'un ouvrage ou d'un recueil de recettes ;
    Vous autorisez balu à diffuser cette recette sur son site et à l'intégrer dans sa base de données gratuitement ;
    Vous autorisez balu à la diffuser, la publier et la reproduire sur le site www.balu.org ou sur tout autre support. Vous pouvez être cité si vous le souhaitez.</p>
    
    <h4>Code de conduite</h4>
    <p>Comment utiliser les logos figurant sur le site :</p>
    <p>Vous pouvez reproduire librement les logos figurant dans la rubrique " Espace Communauté " et ainsi créer un lien hypertexte vers notre site.</p>

    <p>Le reste des logos, marques, dessins, illustrations, textes et noms des rubriques figurant sur notre site ne peuvent pas être utilisés, reproduits, modifiés, diffusés, ou empruntés pour créer des œuvres dérivées sans notre autorisation.</p>

    <p>Les marques citées sont déposées par leurs propriétaires respectifs et sont protégés par le droit des marques. Le contenu des publicités sponsorisées est également protégé par le droit de la propriété intellectuelle. Ces éléments ne peuvent donc pas être utilisés, reproduits, modifiés, diffusés, ou empruntés pour créer des œuvres dérivées sans l'autorisation de leurs titulaires respectifs.</p>

    <p>balu.org demande aux utilisateurs de ses services de respecter les droits de propriété intellectuelle d'autrui</p>
    <p>Dès lors, si vous considérez que votre marque ou votre œuvre a été copiée ou est utilisée d'une manière susceptible de porter atteinte à vos droits tels que reconnus par la législation française sur le site balu.org, merci d'en informer la société balu par courrier postal, télécopie ou par courrier électronique : Chef balu, balu.org, 8-10 rue Saint-Fiacre 75002 Paris, 01 53 57 79 00, chef@balu.org.</p>

    <h4>Utilisation des espaces de communauté</h4>
    <p>Vous vous engagez à ne pas vous servir du site balu.org et notamment de la rubrique " Communauté " pour :</p>

    <p>Télécharger, envoyer, transmettre par mail ou de toute autre manière tout contenu qui soit illégal, nuisible, menaçant, abusif, constitutif de harcèlement, diffamatoire, vulgaire, obscène, menaçant pour la vie privée d'autrui, haineux, raciste, ou autrement répréhensible ;
    Porter atteinte d'une quelconque manière aux utilisateurs mineurs. balu se réserve le droit, à ce titre ou lorsqu'une contribution est contraire à la ligne éditoriale de son site (sans que cela ne constitue une obligation) de supprimer tout contenu disponible via son site, notamment dans la rubrique " Communauté ".
    Le Modérateur de Balu! ne sera présent qu'une fois par semaine. En cas d'urgence, prévenir : chef@balu.org.</p>

    <h4>Responsabilité</h4>
    <p>balu.org ne garantit pas le résultat des recettes diffusées sur son site, ni leur qualité. balu.org ne garantit pas que les recettes répondront aux attentes des internautes ou que leurs résultats seront exacts et fiables.
    En conséquence, la responsabilité de balu.org ne saurait être engagée en cas d'erreur ou d'omission dans l'une de ces recettes, textes, informations ou illustrations diffusées sur son site.</p>

    <p>Toutefois, merci de nous faire connaître vos commentaires dans la rubrique " Votre Avis ? ", ainsi que dans les commentaires pouvant être associés à chaque recette.</p>
    <p>Des liens hypertextes peuvent renvoyer vers d'autres sites que le site balu.org.
    balu.org dégage toute responsabilité dans le cas où le contenu de ces sites serait contraire à la réglementation en vigueur.</p>

    <p>Tout contenu téléchargé se fait aux risques et périls de l'utilisateur et sous sa seule responsabilité.
    En conséquence, balu.org ne saurait être tenu responsable d'un quelconque dommage subi par l'ordinateur de l'utilisateur ou d'une quelconque perte de données consécutives au téléchargement.</p>
    <p>Tout utilisateur du site balu.org s'engage à garantir et indemniser la société balu.org contre tout dommage, plainte ou demande émanant de tiers consécutif à l'envoi, la diffusion ou la transmission de contenu sur le site www.balu.org.</p>

</div>
{% endblock %}