{% extends 'base.html.twig' %}

{% block title %}Contact Balu!{% endblock %}

{% block body %}
<style>
    {# .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; } #}
</style>

<h1 class="h3 mt-2 mb-2 font-weight" style="font-size: 4em">Contact</h1>
<div class="container">
    <div class="card shadow mb-2 bg-trans">
        <form method="post" class="col-md-8 mx-auto">
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="exampleInputPassword1">Nom</label>
                        <input type="nom" class="form-control" id="nom">
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="exampleInputPassword1">Prénom</label>
                        <input type="prenom" class="form-control" id="prenom">
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label for="exampleInputEmail1">Email</label>
                <input type="email" class="form-control" id="Email" aria-describedby="emailHelp">
            </div>
            <div class="form-group">
                <label for="exampleInputPassword1">Sujet</label>
                <input type="mdp" class="form-control" id="mdp">
            </div>
            <div class="form-group">
                <label for="exampleInputPassword1">Message</label>
                <textarea class="form-control" id="message" rows="7"></textarea>
            </div>
            <div class="form-group form-check">
                <input type="checkbox" class="form-check-input" id="exampleCheck1">
                <label class="form-check-label" for="exampleCheck1">Check me out</label>
            </div>
            <div class="text-center m-4">
                <button type="submit" class="btn btn-primary"><i class="far fa-paper-plane"> Envoyer</i></button>
            </div>
        </form><br>
    </div><br>
</div>

{% endblock %}