{% extends 'base.html.twig' %}

{% block title %}Hello FooterController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
    p, h4, ul, li { color: rgb(64, 64, 92); } 

</style>

<div class="example-wrapper">
    <h1>Mentions légales</h1>
    <h2>Informations sur l'éditeur du site</h2>
    <p>Le site Balu.org est édité par la société BALU, S.A.S. immatriculée au R.C.S. de Paris sous le n° B 433 434 156, 
        dont le siège social est 8 rue saint Fiacre 75002 Paris. Les locaux de la société sont au 8, rue saint Fiacre 75002 Paris Cedex Téléphone : 01 53 57 79 00.</p>
    <p>Le directeur de la publication est : Monsieur Olivier Abecassis - chef@Balu.org</p>
    <p>L’hébergeur du site est la société aufeminin.com, 8 rue saint Fiacre 75002 Paris</p>
    <p>Ce site est enregistré auprès de la CNIL sous la référence n°664332.</p>
    <p>Ce site a par ailleurs fait l'objet d'une déclaration auprès du CSA.</p>
    
    <h2>Copyright</h2>
    <p>Toute reproduction ou copie des contenus présents sur le site (notamment des recettes) à des fins autres qu'un usage privé n'est possible qu'après autorisation écrite des gestionnaires du site.
    Photos: PhotoDisc / GettyImages, Peggy Nille, Balu, Balu / Ophélie Lequesne, Manina Hatzimichali, Jupiter Images, Shutterstock.</p>
    
    <h2>Responsabilité quant au contenu</h2>
    <p>Balu.org dégage toute responsabilité quant à l'origine des recettes. Les gestionnaires du site ne pourront en aucun cas être tenus responsables du contenu rentré en ligne. Le seul engagement que nous prenons est de ne publier aucun contenu offensant, injurieux ou sans rapport avec le thème du site.
    Si par mégarde, l'une des recettes rentrées est spécifiquement protégée par un copyright, nous l'enlèverons de notre base, mais dégageons toute responsabilité quant aux droits la concernant. Nous estimons que le patrimoine culinaire mondial est suffisament vaste pour ne pas avoir besoin de recopier des livres !!!
    Balu.org ne peut en aucun cas être considéré comme responsable du résultat d'une des recettes présentes sur le site. Celles-ci sont données à titre indicatif et il est de la responsabilité des utilisateurs de ces recettes de veiller à ce qu'aucun risque ne résulte de la préparation ou de la consommation des produits en résultant.</p>
    
    <h4>Vidéos</h4>
    <p>Lorsque l’internaute poste un contenu vidéo sur notre plateforme de partage de recettes en vidéo, avec une musique, un logo ou tout autre donnée, c’est qu’il en possède les droits, et pourra en attester en cas de vérifications ou de réclamations.</p>

    <ul>En utilisant le service vidéo de Balu :</ul>
        <p><li>Vous reconnaissez être détenteur des droits sur cette vidéo : sont interdits, à titre d'exemple, publicités, extraits de films, moments de télé, etc.</li>
        <li>Vous êtes responsable du contenu de la vidéo, et en assumez les conséquences communautaires (bannissement) et pénales. Sont interdits, à titre d'exemple, les contenus à caractère obscène, pornographique, raciste, violent, etc.</li>
        <li>Vous autorisez Balu publier cette vidéo sur les sites du groupe auFeminin.</li></p>
    
    <h4>Protection des enfants</h4>
    <p>Le site Balu.org est étiqueté ICRA. La Internet Content Rating Association (ICRA, Association de classification du contenu d'Internet) est une organisation internationale à but non lucratif réunissant les leaders d'Internet et visant à développer un Internet plus sûr. Depuis longtemps, l'ICRA pense que l'autoréglementation permettrait d'atteindre un meilleur équilibre entre la libre circulation des contenus? numériques et la protection des enfants contre les contenus potentiellement dangereux.
    Les internautes, et en particulier les parents de jeunes enfants, peuvent ensuite utiliser un logiciel de filtrage pour autoriser ou interdire l'accès à certains sites Web en fonction des informations présentes dans l'étiquette. Un point important : la Internet Content Rating Association n'établit aucune classification des contenus des sites Web - ce sont les fournisseurs de contenus qui le font, à l'aide du système d'étiquetage de l'ICRA. L'ICRA ne porte aucun jugement de valeur sur les sites.</p>
    
    <h4>Acccès des mineurs aux espaces communautaires :</h4>
    <p>L'accès par un mineur à ces espaces communautaires se fait avec l'autorisation du ou des titulaires de l’autorité parentale.</p>
    <p>Toutes les équipes des sites du Groupe aufeminin.com ont à coeur de protéger les internautes et tout spécialement les plus jeunes. 
    Nous vous recommandons par conséquent la plus grande vigilance lorsque vous utilisez les services communautaires des sites du Groupe aufeminin.com.</p>

    <p>Ainsi nous mettons à votre disposition un système vous permettant de contacter le modérateur du site immédiatement :</p>

    <p>- en cliquant ici, chef@Balu.org</p>

    <p>Vous pouvez signaler au modérateur tout comportement ou propos non-conformes aux présentes Règles de bonne conduite ou pouvant présenter tout caractère de danger pour les internautes (et tout particulièrement pour les mineurs) dont vous seriez victime ou témoin.</p>

    <ul>Notamment :</ul>
        <li>Des propositions ou des contenus (images, propos) à caractère sexuel ou pornographique,</li>
        <li>Un comportement suicidaire ou des propos d’un(e) internaute exprimant une détresse ou une situation pouvant mettre ses jours en danger,</li>
        <li>Des propos exprimant une volonté de commettre un acte illégal ou dangereux,</li>
        <li>Des propos faisant l’apologie de comportements à risque, illégaux ou non conformes aux Règles de bonne conduite.</li>
    
    <p>Une fois alerté, le modérateur pourra prendre toutes les mesures qu’il estimera nécessaires pour prévenir le renouvellement de ces comportements et pourra notamment bannir leurs auteurs.</p>
    <p>Le modérateur pourra également être amené à transmettre aux autorités compétentes les informations signalées.</p>
    <p>Vous pouvez également signaler tout contenu ou comportement illicite à l’adresse suivante: www.internet-signalement.gouv.fr</p>
</div>

{% endblock %}
