@import "~@fortawesome/fontawesome-free/css/all.min.css";
@import "~bootstrap/scss/bootstrap";
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

body {
    background-image: url('../../public/img/1.png');
}

a.navbar-brand {
    font-family: 'Lobster', cursive;
    font-size: x-large;
}

.recettes { 
    // position: relative; 
    // left: 10%; 
    // bottom: 20%;
    display: flex;
    flex-direction: column; 
}

.titre {
    position: relative;
    padding-top: 20px;
    padding-bottom: 20px;
}

h1, h2 {
    font-family: 'Lobster', cursive;
    text-align: center; 
    color: rgb(240, 237, 51);
}

.card-columns {
    justify-content: space-around;
    align-self: center;
}

// ######################## FOOTER ########################## //
section {
    min-height: 775px; 
    max-width:1000px;
}

footer {
    background-color: rgb(64, 64, 92);
    
}

footer .fin {
    display: flex;
    justify-content: space-around;
    padding: 10px;
}

footer .fin a {
    color: whitesmoke;
    text-decoration: none;
}

footer .fin a:hover {
    color: red;
}

footer p {
    background-color: rgb(64, 64, 92);
    color: whitesmoke;
    height: 50px;
    padding: 10px;
}