{% extends 'base.html.twig' %}

{% block title %}BALU !
{% endblock %}

{% block h1 %}BIENVENUE CHEZ BALU !
{% endblock %}

{% block body %}
	{# <style>
		    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
		    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
		</style> #}

<div class="recettes">
    <div class="titre">
        <h1 class="display-4 text-center">Venez goûter nos plats savoureux</h1>
        <h2>Des recettes issues des pays du monde entier</h4>
    </div>

    <div class="container mx-auto">
  
        <div class="row mx-auto" style="width: 90%;">
            
            {% for categorie in categorie %}
                
            <div class="col-md-4 p-3">
            <div class="card box-shadow">
    
    
                <a href="{{path('accueil')}}">
                    <img class="card-img-top" src="{{ asset("img/" ~ categorie.image) }}" alt="">
                    <button type="button" class="btn btn-light centered">{{ categorie.categorie }}</button>
                </a>
    
                </div>
                </div>
        
    
            {% endfor %}
        
        </div>
    </div>



</div>




{% endblock %}
