{% extends 'base.html.twig' %}

{% block title %}Commentaire{% endblock %}

{% block body %}
    {{ form_start(formCommentaire) }}
        {{ form_widget(formCommentaire) }}
        <button class="btn btn-primary shadow"type="submit">Envoyer</button>
    {{ form_end(formCommentaire) }}

{% endblock %}
