{% extends 'base.html.twig' %}

{% block title %}Commentaire{% endblock %}

{% block body %}

<style>
    .titre {font-family: 'Lobster', cursive; color: rgb(64, 64, 92); }
    .sous-titre {color: rgb(64, 64, 92); }
</style>

<div class="titre display-4 text-center">
    {% block h1%}Vos impressions{% endblock %}
</div>

<div class="sous-titre col-md-6 mx-auto">
    {{ form_start(formCommentaire) }}
        {{ form_widget(formCommentaire) }}
        <div class="text-center mt-4 mb-4">
            <input type="submit" class="btn btn-lg btn-success" value="Envoyer">
        </div>
    {{ form_end(formCommentaire) }}
</div>

{% endblock %}
