<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}
         {{ encore_entry_link_tags("app") }}
        {% endblock %}
    </head>
    <body>

        
        
        {% include "menu.html.twig" %}
        <!-- a enlever  -->
         {# {% include "navbrouillon.html.twig" %} #}
        <!-- fin nav brouillon  -->


        {% block body %}
                


        {% endblock %}
        
        <footer style="height: 50px">
            <div class="fin">     
                    <div><a href="">Conditions générales de vente</a></div>
                    <div><a href="">CGU</a></div>
                    <div><a href="">Mentions légales</a></div>
                    <div><a href="">Contact</a></div>
            </div>      
            <p class="text-center"> ©Copyright - Mai 2020 </p>
        </footer>

        {% block javascripts %}
         {{ encore_entry_script_tags("app") }}
        {% endblock %}

    </body>
</html>
 