<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
        {% block body %}
                
        <footer style="height: 50px; padding: 10px; ">
            <div class="fin">
                <ul>
                    <li>Conditions générales de vente</li>
                    <li>CGU</li>
                    <li>Mentions légales</li>
                    <li>Contact</li>
                </ul>
            </div>      
            <p class="text-center"> ©Copyright - Mai 2020 </p>
        </footer>


        {% endblock %}
        {% block javascripts %}{% endblock %}
    </body>
</html>
 