{% extends "base.html.twig" %}

{% block title %} Erreur {% endblock %}

{% block body %} 


<h1 class="erreur"> Hop!hop!hop! Vous n'avez rien à faire ici !!!</h1>
    <div class="row">
    <a href="{{path('accueil')}}" class="btn btn-success btn-lg col-md-4 mx-auto "> Retour à l'accueil</a>
    </div>

{% endblock %}