{% extends "base.html.twig" %}

{% block title %} Erreur {% endblock %}

{% block body %} 


<h1 class="erreur"> OUPS! Cette page n'existe pas !!!</h1>
    <div class="row">
    <a href="{{path('accueil')}}" class="btn btn-success btn-lg col-md-4 mx-auto "> Retour à l'accueil</a>
    </div>

{% endblock %}